<h4>Registre un nnuevo usuario</h4>

<form id="formulario" method="POST" action="/user/newuser">

    <label for="title">Usuario:</label>
    <input type="text" name="usuario" id="title" required>

    <label for="price">Contraseña:</label>
    <input type="password" name="contrasena" id="price" required>

    <label for="thumbnail">URL de la imagen:</label>
    <input type="text" name="foto" id="thumbnail" required>

    <label for="edad">Edad:</label>
    <input type="number" name="edad" id="edad" required>

    <input type="submit" value="Enviar">

</form>